apiVersion: v1
kind: Service
metadata:
  name: {{ include "recommender-api.fullname" . }}
  labels:
    {{- include "recommender-api.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    app: {{ include "recommender-api.name" . }}
    release: {{ .Release.Name }}
